{% extends 'base.html' %}

{% load static %}
{% block title %}
<title>Home</title>
{% endblock %}
{% block content %}
<!-- Header -->
<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">

      {% if user.is_authenticated %}
          Hi. You've logged in as {{ user.username }}!
          Your sid is {{ user.student.studentid }}
      {% else %}
        You've logged out/not logged in yet/

      {% endif %}
      <h2 class="mx-auto my-0 text-uppercase">Bisrate Gerbriel School</h2>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">A school with maximum reputation with its graduates spread all over the world as a VIP.</h2>
      <a href="/staffs/" class="btn btn-primary js-scroll-trigger">BGS Staff Members</a>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Quality Schooling since 1970.</h2>
        <p class="text-white-50">Bistrate Gebriel School was first constructed by the Catholic Church as a
          boys only school, and then upgrade to both boys and girls at elementary level and eventually
           transformed to an elegant elementary and highschool.
      </div>
    </div>
    <img src="{% static 'img/ipad.png' %}" class="img-fluid" alt="">
  </div>
</section>
<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
  <div class="container">

    <!-- Featured Project Row -->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/bg-masthead.jpg' %}" alt="">
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Services</h4>
          <p class="text-black-50 mb-0">Students could have access online for their grades, teacher's comment and any notifications
            posted by the teacher or school administration. Parents also have online access to see how their kids are doing at school.
          </p>
        </div>
      </div>
    </div>

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'img/demo-image-01.jpg' %}" alt="">
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">School Administration</h4>
              <p class="mb-0 text-white-50">School Admin now can document data and any documents related to Student,
                 Classes, and Teachers. It may also help in preparing non conflicted schedules.
              </p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Two Row -->
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img class="img-fluid" src="{% static 'img/demo-image-02.jpg' %}" alt="">
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Collaboration</h4>
              <p class="mb-0 text-white-50">Let's work together, School admin, Teachers, Parents, Alumni and Students
                together to make a difference in the future. Together, we can make a difference. Let's strive!</p>
              <hr class="d-none d-lg-block mb-0 mr-0">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


{% endblock %}
