<!-- {% load static %} -->
<title>Details</title>
<div class="container">
  <div class="col-md-4">
    {% if notification.image %}
      <p>Uploaded Notification Images</p>
      <a href="#"><img class="card-img-top" src="{{ notification.image.url }}" alt="pic" width=240></a>
    {% endif %}
    <p>Uploaded Text Notification</p>
      <p>{{notification.content}}</p>
      <p>Posted by: {{notification.poster}}</p>
      <p>Postd at: {{notification.pub_date}}</p>
      <p>Last updated at: {{notification.updated_date}}</p>
  </div>

    <div class="col-md-4">
      <h3>Chatting Area for any concerns about this notification.</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.post }}
            <br>
            <button type="submit">Submit</button>
        </form>
        <h2>{{ text }}</h2>
        {% for post in posts %}
            <p><b>{{ post.student.first_name }}</b> {{ post.post}} </p>
        {% endfor %}
    </div>

</div>
