{% load static %}
<link rel="stylesheet" href="{% static 'adminapp/style.css' %}" type="text/css">
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block title %}
      <title></title>
    {% endblock %}

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">
<!-- <link rel="stylesheet" href="{% static 'adminapp/style.css' %}" type="text/css"> -->

  </head>
  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {% if user.is_authenticated %}
              <a class="navbar-brand" href="/notifications/{{ user.student.level }}/">Notices</a>
            {% endif %}
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% if user.is_authenticated %}
                <li class="active"><a href="/grades/{{ user.student.studentid }}/">Grades</a></li>
              {% endif %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/login/?next=/admin/">Admin</a></li>

                  <li role="separator" class="divider"></li>
                  <li><a href="#">About</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Contact</a></li>


                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Sign in</a></li>
              {% endif %}
              {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Sign out</a></li>
                <li><a href="{% url 'users:change_password' %}">Change Password</a></li>

              {% endif %}
              {% if not user.is_authenticated %}
                <li><a href="{% url 'users:signup' %}">Sign up</a></li>
              {% endif %}
              {% if not user.is_authenticated %}
                <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <div class="container">
        {% if user.is_authenticated %}
          <p>You've logged in as {{ user.username }}</p>
        {% endif %}
      </div>
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Bisrate Gabriel School</h1>
        <h2 class="text-white mb-4">Quality Schooling since 1970.</h2>

        <p>A school with maximum reputation with its graduates spread all over the world as a VIP.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/staffs/" role="button">BGS Staff Members &raquo;</a>
        </p>
      </div>

      {% block content %}
      {% endblock %}


    </div> <!-- /container -->


    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>

</html>
